.flex {
  display: flex;
  text-align: left;
  margin-top: 75px;
  justify-content: center;
}

#example {
  max-height: 400px;
  margin-right: 30px;
  flex-shrink: 2;
}

#right {
  max-width: 400px;
  flex-grow: 1;
}

#right h1 {
  font-family: 'K2D';
  color: #0099ff;
}

#right h3 {
  font-weight: lighter;
  margin-bottom: 75px;
}

#right p {
  font-size: 20px;
  font-family: 'K2D';
  color: #0099ff;
  margin-bottom: 10px;
}

#right button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px grey solid;
}

#right button:hover {
  background-color: red;
}

.centered {
  text-align: center;
}

#hidden {
  display: none;
  background-image: url(../img/papers.jpg);
  background-position: center;
  background-size: cover;
  padding: 125px 0 100px 0;
  color: white;
  font-family: 'Ostrich', sans-serif;
  letter-spacing: 1px;
}

#hidden i {
  font-size: 40px;
}

#hidden h1 {
  font-size: 43px;
}

#hidden p {
  font-size: 20px;
}
